<div class="row member-list">
    <div class="col" *ngFor="let member of members">
        <app-member-card  [member]=member></app-member-card>
    </div>
</div>

<div class="d-flex justify-content-center mt-3" *ngIf="pagination">
    <pagination [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [maxSize]="10"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;" 
                lastText="&raquo;">
</pagination>
</div>