<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>
    <ng-container *ngIf="accountService.currentUser$ | async">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
      </ul>
    </ng-container>
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
    </li>
  </ul>
    <div class="dropdown" *ngIf="accountService.currentUser$ | async as user" dropdown>
      <img src="{{user.photoUrl || './assets/user.png'}}" alt="photo user">
      <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>Welcome {{user.username | titlecase}}</a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>
    <form *ngIf="!(accountService.currentUser$ | async)" [formGroup]="formGroup" (ngSubmit)="login()" class="d-flex">
      <input formControlName="username" class="form-control me-2" type="text" placeholder="Username">
      <input formControlName="password" class="form-control me-2" type="password" placeholder="Password">
      <button class="btn btn-success" type="submit">Login
      </button>
    </form>
  </div>
</nav>

