<div class="card">
    <div class="card-body">
        <div class="card__profile-img">
            <img src="{{member.photoUrl}}" alt="Photo of {{member.knownAs}}">
        </div>
        <h3 class="card__profile-name">
            <i class="fa fa-user me-2"></i>
            {{member.knownAs}}
        </h3>
        <h6 class="card__profile-city text-muted mt-20">
            {{member.city}}
        </h6>
        <ul class="card__socials">
            <li><a href=""><i class="fa fa-twitter text-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-facebook-f text-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin text-linkedin"></i></a></li>
            <li><a href=""><i class="fa fa-instagram text-instagram"></i></a></li>
        </ul>
    </div>
</div>
